.jumbotron{
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
    background-size: cover;
  }
  .news-image {
    height: 200px !important;
    object-fit:cover
  }
  .pagenav {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none
    }
  }
.width-90 {
  width: 95% !important;
}
.show {
  padding-left: 0px !important;
}