.jumbotron{
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
    background-size: cover;
  }
  .news-image {
    height: 150px !important;
    object-fit:cover
  }